<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.svenko.alfred.notion</string>
	<key>connections</key>
	<dict>
		<key>055BBECE-5132-4201-B7C3-A6BCF8E14ED8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2FD09FC-7940-43DF-A840-487A1C16CF2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B811D48-564D-4031-B64E-535DC7E758B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>055BBECE-5132-4201-B7C3-A6BCF8E14ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14F8E332-0E20-4362-BC6B-3E8AE513055A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>433C998B-171B-49D0-8D18-D50965A1EC9F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in a New Tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>160FF388-18B0-49EA-9CAB-6DE9F75570D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E218916C-1250-4B0D-9C11-C479DFB28270</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AEEF96A-CE70-46C3-BB90-E2F4E654E0C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>433C998B-171B-49D0-8D18-D50965A1EC9F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in a New Tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>160FF388-18B0-49EA-9CAB-6DE9F75570D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E218916C-1250-4B0D-9C11-C479DFB28270</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>svenko99</string>
	<key>description</key>
	<string>Search Notion pages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Notion" to activate
  tell application "System Events"
	tell process "Notion"
		-- Click "New Tab" in the "File" menu
		click menu item "New Tab" of menu "File" of menu bar 1
		
		-- Delay to ensure the new tab is opened
		delay 0.9
		
		-- Open the specific link in the new tab
		tell application "Notion" to open location q
	end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>433C998B-171B-49D0-8D18-D50965A1EC9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python3 main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Online version</string>
				<key>title</key>
				<string>Notion Search</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3AEEF96A-CE70-46C3-BB90-E2F4E654E0C6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>160FF388-18B0-49EA-9CAB-6DE9F75570D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E218916C-1250-4B0D-9C11-C479DFB28270</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ns</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python3 main.py --offline "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Offline version</string>
				<key>title</key>
				<string>Notion Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14F8E332-0E20-4362-BC6B-3E8AE513055A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nupdate</string>
				<key>subtext</key>
				<string>A notification will appear when finished.</string>
				<key>text</key>
				<string>Notion data updater</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0B811D48-564D-4031-B64E-535DC7E758B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2FD09FC-7940-43DF-A840-487A1C16CF2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 main.py --update</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>055BBECE-5132-4201-B7C3-A6BCF8E14ED8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Alfred workflow allows you to search for pages in your Notion workspace.

Installation and usage: https://github.com/svenko99/alfred-notion-search</string>
	<key>uidata</key>
	<dict>
		<key>055BBECE-5132-4201-B7C3-A6BCF8E14ED8</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>0B811D48-564D-4031-B64E-535DC7E758B7</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>14F8E332-0E20-4362-BC6B-3E8AE513055A</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>160FF388-18B0-49EA-9CAB-6DE9F75570D2</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>3AEEF96A-CE70-46C3-BB90-E2F4E654E0C6</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>433C998B-171B-49D0-8D18-D50965A1EC9F</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>E218916C-1250-4B0D-9C11-C479DFB28270</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>E2FD09FC-7940-43DF-A840-487A1C16CF2C</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Notion API key (of the integration)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>NOTION_API</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>if checked, open links in the desktop app.</string>
			<key>label</key>
			<string>Use desktop client</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>USE_DESKTOP_CLIENT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Custom images of pages will be downloaded and displayed.</string>
			<key>label</key>
			<string>Enable custom images</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ENABLE_IMAGES</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2026.1</string>
	<key>webaddress</key>
	<string>https://svenko.me/</string>
</dict>
</plist>
